body {
  background-color: coral;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  line-height: 2em;
}
label {
  margin: 8px;
  line-height: normal;
  font-size: larger;
}
input{
  margin: 8px;
  font-size: large;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  border-color: black;
  border-width: 5px;
  padding: 20px;
}

.input1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  margin: 16px;
  font-size: large;
  font-weight: 100;
  width: 80%;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin-top: 32px;
  height: 50px;
  width: 80%;
}
